//-menu
doctype html
html
	include ../details/mixin.pug
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Madala
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')

		//- Font-awesome
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

		//- Font-family
		link(href='https://fonts.googleapis.com/css?family=Rochester', rel='stylesheet')
		link(rel='stylesheet', type='text/css', href='../../css/style.css')

	body
		//header---------------------------------------------------------------------
		//---------------------------------------------------------------------------
		header.header#hearder
			//menu-------------------------------
			include ../modules/menu

				
			//slide--------------------------------
			//- img(src='img/bg_header.png', style='height:100%,width:100%');
			.header-bottom
				.container
					.wrapper
						.item.item6
							img(src='../../img/01_Home_03.jpg', alt='product-slide',width='250px')
						.item.item7
							.header-bottom_text
								ul
									li.greenvera
										h2.green Green
										h2.vera Vera
									li.description
										p Sản phẩm tinh dầu dưỡng da mới nhất của Mandala
									li.price
										p GÍA CHỈ  750.000 
											sup đ
									li
										button.btn.btn-link(type='button') MUA HÀNG
						.item.item8
							img(src='../../img/01_Home_02.jpg',alt='woman-slide',width='472px')
					
		//body---------------------------------------------------------------------
		//-------------------------------------------------------------------------
		body.body#body
			//menu-child----------------------
			section.section1#section1
				.container#menu-child
					ul
						li.plan(href='#')
							i.fas.fa-plane
							p Miễn phí vận chuyển
						li.gift(href='#',style='border-left:#2c2c2c4d solid 1px')
							i.fas.fa-gift
							p Nhận ngay quà tặng trị giá 350.000đ
						li.star(href='#',style='border-left:#2c2c2c4d solid 1px')
							i.fas.fa-star
							p Giảm 30% cho đơn hàng trên 5.000.000đ
				//wrapper------------------------
				.container#wrapper
					.wrapper-body#wrapper1
						.item.item21
							img(src='../../img/wr1.jpg', alt='wr1',width='520px')
							span
								
						.item.item22
							img(src='../../img/wr2.jpg', alt='shape-10',width='520px')
							//- .item-note
							//- 	 p.underline SỮA TẮM
								
						//- .item.item3
						//- 	img(src='../../img/Shape 10 copy.png', alt='shape-10-copy',width='280px')
						//- 	span
								
						//- .item.item4
						//- 	img(src='../../img/01_Home_07.jpg', alt='01_Home_07',width='260px')
						//- 	span
								
						//- .item.item5
						//- 	img(src='../../img/01_Home_04.jpg', alt='01_Home_04',width='535px')
						//- 	span
								
					.wrapper-body#wrapper2
						.item.item23
							img(src='../../img/wr3.jpg', alt='wr3',width='520px')
							span
								
						.item.item24
							img(src='../../img/wr4.jpg', alt='wr4',width='520px')
							span
								
						//- .item.item11
						//- 	img(src='../../img/01_Home_11.jpg', alt='01_Home_11',width='260px')
						//- 	span
								
						//- .item.item12
						//- 	img(src='../../img/01_Home_15.jpg', alt='01_Home_15',width='260px')
						//- 	span
								
						//- .item.item13
						//- 	img(src='../../img/Static block copy.png', alt='Static block copy',width='280px')
						//- 	span
								
					.flex-container
						.item.item14
							.item14_img
								.item14_img_1
									img(src='../../img/01_Home_19.jpg', alt='01_Home_19')
								.item14_img_2
									img(src='../../img/01_Home_20.png', alt='01_Home_20')
						.item.item15
							
							.item15_1
								p “ Vẫn là vẻ bề ngoài vô cùng đơn giản với các tông màu trắng, hồng làm chủ đạo nhưng lại tạo ra sức hút kỳ lạ với những ai cầm trên tay sản phẩm ấy! Với công nghệ cải tiến mới nhất, hãng Rohto  ”
								p 
									span
										a TutiLe
									|_ Giám đốc phát triển sản phẩm
								.point-text
									.point
										img(src='../../img/w1.png', alt='w1')
									.point
										img(src='../../img/w2.png', alt='w2')
									.point
										img(src='../../img/w3.png', alt='w3')
							.item15_2
								img(src='../../img/Layer 96.png', alt='Layer 96')
			//san-pham-ban-chay------------------------
			section.section2#section2_home
				.section2-top
					.container
						.section2-top_logo
							ul
								li.item4
									a Sản phẩm mới
								li.item5
									a 
										span Sản phẩm bán chạy
								li.item6
									a Sản phẩm đặc biệt
						.section2-top_img
								img(src='../../img/01_Home_44.jpg', alt='01_Home_44')
						.section2-top_menu
							ul(style='padding-top: 60px,padding-left: 85px,padding-right: 85px;width: 100%')
								li.list1(href='#')
									a Mỹ phẩm
								li.list2(href='#')
									a Chăm sóc da
								li.list3(href='#')
									a Nước hoa
								li.list4(href='#')
									a Trang sức
								li.list5(href='#')
									a Dành cho tóc
								li.list6(href='#')
									a Trang sức
								
				.section2-bottom
					.flex-container
						i.fas.fa-arrow-left
						.item2
							+item_product('../../img/Product copy 4.png','OHUI')
							//- +item_product('../../img/Product copy 4.png','OHUI')
						.item3
							+item_product('../../img/01_Home_32.jpg','HOME')
							//- +item_product('../../img/01_Home_32.jpg','HOME')
						.item4
							+item_product('../../img/35.jpg','DEBORA')
							//- +item_product('../../img/35.jpg','DEBORA')
						.item5
							+item_product('../../img/01_Home_38.jpg','SAREVON')
							//- +item_product('../../img/01_Home_38.jpg','SAREVON')
						i.fas.fa-arrow-right
					.container#button-product
						button.button1 MUA HÀNG
						button.button2
							i.fas.fa-heart
						button.button3 ( )
				
					
			section.section3#section3
				.link
					a
						i.fa.fa-facebook
						| FACEBOOK
					a
						i.fa.fa-twitter
						| TWITTER
					a
						i.fa.fa-instagram
						| INSTAGRAM
					a
						i.fa.fa-google
						| GOOGLE+
					a
						i.fa.fa-pinterest
						| PINTEREST
					a
						i.fa.fa-linkedin
						| LINKEDIN
				.about
					.row
						.col-lg-4.col-md-6.col-xs-12
							h3.col-top Về chúng tôi
							img(src='../../img/01_Home_44.jpg')
							.col-middle
								p.logo
									span M
									| andala
								p.title Giới thiệu chung về mỹ phẩm handmade Mandala
								p Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt. Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.
							.col-bottom
								p.more Xem thêm

						.col-lg-4.col-md-6.col-xs-12
							h3.col-top Blog
							img(src='../../img/01_Home_44.jpg')
							.col-middle
								img(src='../../img/Layer 69 copy.png')
								p.re Review son kem Bourjois Velvet
								p.re Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.
								.writter
									p.by Bởi NamTran (27/05/2015)
							.col-bottom-blog
								
								p Đọc thêm >

								p 23 Bình luận

						.col-lg-4.col-md-6.col-xs-12
							h3.col-top Gửi Email cho chúng tôi
							img(src='../../img/01_Home_44.jpg')
							.col-middle
								input.email(placeholder="Email của bạn")
								p.sentemail Gửi email để nhận những ưu đãi mới nhất
								button.sent Gửi
								
							.col-bottom__tag
								p.tag TAG SẢN PHẨM
								img(src='../../img/01_Home_44.jpg')
								.col-bottom_list
									button Đồng hồ
									button Túi
									button Phụ kiện
									button Đồng hồ
									button Túi
								.col-bottom_list
									button Giày
									button Sandal
									button Áo sơ mi
									button Nước hoa
									button Giày
									button Sandal
								.col-bottom_list
									button Trẻ em
									button Thời trang nữ
									button Trẻ em
									button Thời trang nữ
	//footer------------------------------------------------------------
	//------------------------------------------------------------------
	include ../modules/footer