.container-fluid#pages404 {
    position: relative;
}

img {
    
}

.404-content {
    background: #cc0000;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    input.search{
    	text-align: right;
    }
}


