footer.footer#footer
	.container
		.footer-top
			.footer-top_list
				h4 LIÊN HỆ VỚI CHÚNG TÔI
				p
					i.fa.fa-map.active
					|Tầng 4, Tòa nhà Hanoi Group  Số 442 Đội Cấn,
					</br>P. Cống Vị, Q. Ba Đình, Hà Nội
				p
					i.fa.fa-phone-square.active
					|(04) 6674 2332
					i.fa.fa-phone.active
					|(04) 3786 8904
				p
					i.fa.fa-phone-square.active
					| (08) 6680 9686
					i.fa.fa-mail-forward
					span.active Support@bizweb.vn
			.footer-top_list
				h4 CHUYỂN HÀNG
				p mua sắm trực tuyến
				p.active Đến từ chúng tôi gửi đến
				p Chính sách vận chuyển
				p Vận chuyển thông tin
			.footer-top_list
				h4 HỖ TRỢ
				each val in ['Câu chuyện của chúng ta','Thanh toán an toàn','Tùy chọn Vận Chuyển','Chính sách vận chuyển']
					p= val
			.footer-top_list
				h4 THÔNG TIN
				p Chính sách riêng tư
				each val in ['Về chúng tôi','Điều khoản & điều kiện','Chính sách riêng tư','Đơn đặt hàng và Returns']
					p= val
			.footer-top_list
				h4 MY ACCOUNT
				each val in ['Xem Giỏ hàng','Sản phẩm yêu thích','Kiểm tra','Theo dõi đặt hàng của tôi']
					p= val
		.footer-bottom
			.footer-bottom_left
				p © Copyright 2008-2014 DKT Technology JSC
			.footer-bottom_right
				img(src='../../img/01_Home_01_47.jpg')
				img(src='../../img/01_Home_01_49.jpg')
				img(src='../../img/01_Home_01_51.jpg')
				img(src='../../img/01_Home_01_53.jpg')