.header-top
				nav.navbar.navbar-expand-md.navbar-dark
					.logo
						a
							span M
							| adala
					button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
						span.navbar-toggler-icon
					#collapsibleNavbar.collapse.navbar-collapse
						ul.navbar-nav
							li.nav-item
								a.nav-link(href='../pages/home_01.html') TRANG CHỦ
							li.nav-item
								a.nav-link(href='../pages/10_about.html') GIỚI THIỆU
							li.nav-item#dropdown
								a.nav-link(href='#') SẢN PHẨM
									//- .dropdown
									//- 	div.nav-column
									//- 		h3 DƯỠNG DA
									//- 		ul
									//- 			li
									//- 				a Áo khoác
									//- 			li
									//- 				a Bộ áo liền quần
									//- 			li
									//- 				a Dresses
									//- 			li
									//- 				a Quần váy
									//- 			li
									//- 				a Quần short
									//- 			li
									//- 				a Quần jean
									//- 				li
									//- 				a Đồ đan
									//- 				li
									//- 				a Áo nỉ
									//- 	div.nav-column
									//- 		h3 NƯỚC HOA
									//- 		ul
									//- 			li
									//- 				a Áo cánh/ Áo sơ mi
									//- 			li
									//- 				a Túi xách và Balo
									//- 			li
									//- 				a Khăn quàng cổ và Foulards
									//- 			li
									//- 				a Dệt kim Hats và Glovers
									//- 			li
									//- 				a Vớ và Socks
									//- 			li
									//- 				a Jewerly
									//- 				li
									//- 				a Bị bảo vệ
									//- 				li
									//- 				a Giày
									//- 	div.nav-column
									//- 		h3 TRANG SỨC
									//- 		ul
									//- 			i
									//- 				a Áo cánh/ Áo sơ mi
									//- 			li
									//- 				a Túi xách và Balo
									//- 			li
									//- 				a Khăn quàng cổ và Foulards
									//- 			li
									//- 				a Dệt kim Hats và Glovers
									//- 			li
									//- 				a Vớ và Socks
									//- 			li
									//- 				a Jewerly
									//- 			li
									//- 				a Bị bảo vệ
									//- 			li
									//- 				a Giày
							li.nav-item
								a.nav-link(href='#') TIN TỨC
							li.nav-item
								a.nav-link(href='#') BÁN ĐỒ
							li.nav-item
								a.nav-link(href='../pages/11_contact.html') LIÊN HỆ
					.icon
							i.fas.fa-shopping-cart
							i.fas.fa-search