.header-top
				nav.navbar.navbar-expand-md.navbar-dark
					.logo
						a
							span M
							| adala
					button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
						span.navbar-toggler-icon
					#collapsibleNavbar.collapse.navbar-collapse
						ul.navbar-nav
							li.nav-item
								a.nav-link(href='../pages/home_01.html') TRANG CHỦ
							li.nav-item
								a.nav-link(href='../pages/10_about.html') GIỚI THIỆU
							li.nav-item#dropdown
								a.nav-link(href='#') SẢN PHẨM
							li.nav-item
								a.nav-link(href='#') TIN TỨC
							li.nav-item
								a.nav-link(href='#') BÁN ĐỒ
							li.nav-item
								a.nav-link(href='../pages/11_contact.html') LIÊN HỆ
					.icon
							i.fas.fa-shopping-cart
							i.fas.fa-search