.container{
	max-width: 80%;
}
.container#menu-child{
	ul{
		margin-top: 20px;
		text-align: center;
    	display: flex;
    	margin-left: 10%;
		list-style: none;
	}
}
li{
		font-size: 14px;
		font-family: 'Myriad Pro';
		width: 28%;
		.gift{
			border-left: #2c2c2c4d solid 1px ;
		}
	}
//wrapper---------------------------------------
.wrapper-body{ 
	display: grid; 
	grid-template-columns: 540px 290px;
	grid-template-rows: 296px 150px;
}
//warpper1---------------

#wrapper1{
	height: 584px;
}
.item21{
	@extend %wrapper-item;
}
	// width: 260px;
	// background: url('../img/product-1.png');
// }
// .item2{
// 	@extend %wrapper-item;
// 	// width: 280px;
// 	// background: url('../img/product-1.png');
// }
// .item3{
// 	@extend %wrapper-item;
// 	// width: 280px;
// 	// background: url('../img/product-1.png');
// }
// .item4{
// 	@extend %wrapper-item;
// 	padding-left: 22px;
//     // width: 280px;
// 	// background: url('../img/product-1.png');
// }
.item22{
	@extend %wrapper-item;
	grid-column: 2/4;
  	grid-row: 1/span 2;
	width: 541px;
	padding-right: 10px;
}

//----------------
// .item.item2{
// 	position: relative;
// }
// .item-note{
// 	z-index: 2;
// 	text-transform: 
// 	text-align: center;
// 	color: white;
// 	left:50%;
// 	top:50%;

// }

//wrapper2--------------------

#wrapper2{
	height: 620px;
	padding-left: 4px;
}
.item23{
	@extend %wrapper-item;
  	grid-row: 1/span 2;
	padding-right: 10px;
}
.item24{
	@extend %wrapper-item;
	width: 91%;
	grid-column: 2/4;
	grid-row: 1/span 2;
}
// .item11{
// 	@extend %wrapper-item;
// 	// background: url('../img/product-1.png');
// }
// .item12{
// 	@extend %wrapper-item;
// 	// background: url('../img/product-1.png');
// }
// .item13{
// 	@extend %wrapper-item;
// 	grid-column: 4/5;
//   	grid-row: 2/span 1;
	

//flex-container------------------------
.flex-container{	
	display: flex;
	margin: 20px 0px;
    margin-bottom: 70px;
    i.fas.fa-arrow-left,i.fas.fa-arrow-right{
    	padding-top: 200px;
    	padding-left: 55px;
    	padding-right: 55px;
    }
}
//item14---------------
.item14_img{
		margin:10px;
		border: #789629 solid 1px;

		img{
			margin:10px;
			border-radius: 0.5;
		}
	}
.item14_img_1, .item14_img_2,{
	position: absolute;
}
.item14_img_1{
	z-index: 3;
}
.item14_img_2{
	z-index: 2;
}
.item14{
	z-index: 4;
}
//item15---------------
.item15{
	display:flex;

	
}
.item15_1{
	z-index: 99999;
	color: black;
	margin-left: 160px;
    margin-top: 20px;
    width: 58%;
	text-align: left;
	p{
		margin-left: 70px;
	}
}
.item15_2{
	position: absolute;
	margin-left: 500px;
}
.point-text{
	display: flex;
    margin-left: 160px;
    .point{
    	margin-left: 10px;
    }
}
//san-pham-ban-chay------------------
section.section2#section2_home{
	background: url('../img/Layer 99.png');
}

.section2-top_logo{
	ul{
		padding-top: 60px;
		text-align: center;
		display: flex;
		list-style: none;
	}

	li a{
		font-size: 18px;
	}
	li.item4{
		padding-top: 15px;
		a{
			color:$grey-light4;
			font-size: 24px;
			font-family: 'UTM';
			padding-top:20px;
		}
	}
	li.item6{
		padding-top: 15px;
		a{
			color:$grey-light4;
			font-size: 24px;
			font-family: 'UTM';
			padding-top:20px;
		}
	}
	li.item5{
			font-size: 40px;
			font-family: 'UTM';
			width: 70%;
		}
	
	
	span{
		font-size: 35px;
		color: #789629;

	}
}

.section2-top_img{
	text-align: center;
}
.section2-top_menu{
	display: flex;
	text-align: center;
	li{			
		padding-left: 0px;
		
	}
	.list1{
		list-style: none;
	}
	ul {
	
	display: flex;
	padding-top: 40px;
    padding-left: 85px;
    padding-right: 85px;
    width: 100%;
	}
}	
//----list-products----------------
// .section2-bottom{
// 	.item{
// 	background-color: white;
// 	text-align: center;
// 	width: 200px;
// 	height: 380px;
// 	img{
// 		width: 200px;
// 	}
// 	p.name{
// 		color: #b9b9b9;
// 	}
// }
// .item-description{
// 	color:black!important;
// }


	
	#button-product{
		display:flex;
		justify-content: center;
		text-align: center;
		button{
    		margin-left: 10px;
		}
		.button1{
				@extend %button-item;
				background-color: white;
				font-family: 'opensans-bold';
				}
		.button2{
				@extend %button-item;
				background-color: $green;
				color:white;
				}
		.button3{
				@extend %button-item;
				background-color: white;
				color:black;
				font-family: 'opensans-bold';
				}
	}
	


	

//section3----------------------
//link------------
.section3{
	i.fa.fa-twitter,i.fa.fa-instagram,i.fa.fa-google,i.fa.fa-pinterest,i.fa.fa-linkedin{
		color:$grey-light2;
	}
	i{
		padding-left: 10px;
		width: 40px;
	}
	.link{
		margin: 30px;
		display: flex;
		text-align: center;
		justify-content: center;
		a{	padding: 10px;
			text-align: center;
			text-decoration: none;
			font-size: 14px;
			margin-left: 15px;
			i{
				border-color:black; 
				border-radius:50%;
			}
		}
	}
}

.about{
	.col-lg-4.col-md-6.col-xs-12{
		text-align: justify;
		img{
			padding-left: 10px;
		}
		.logo{
			padding: 20px;
		}
		.title{
			font-family: 'opensans-bold';
			text-transform: uppercase;
			font-size: 14px;
		}
		.col-top{
			text-align: center;
		}
		.col-middle{
			text-align: center;
			p.re{
				border-bottom: 1px solid $grey-light3;
			}
			p.sentemail{
				color:$grey-light;
			}
			.email{
			width: 90%;
			}
			.sent{
				background-color: black;
				color: white;
				font-family: 'opensans-bold';
			}
			.sent:hover{
				background-color: white;
				color: black;
			}
		}
		.col-bottom__tag{
			padding-top: 40px;
			color: #b4b4b4;
   			font-family: 'opensans-light';
   			justify-content: space-between;
   			.tag{
   				text-align: center;
				font-family: 'opensans-bold';
				color: black;
   			}		
   		}
	}
}
.col-bottom{
	p.more{
		color:$grey-light3;
	}
}
.col-bottom__tag{
	.col-bottom_list{
		button{
			margin-bottom: 5px;
	    	margin-left: 5px;
	    	background-color: white;
	    }
	    button:hover{
	    	background-color: $green;
	    	color:white;
	    }
	}
}
   