//color-header
$green: #789629;
$grey-dark: #2c2c2c;
$grey-light:#494949;
$grey-light1:#b9b9b9;
$grey-light2:#b4b4b4;
$grey-light3:#e7e7e7;
$grey-light4:#c1c1c1;
$brown:#6c3c33;
$grey-table:#fafafa;
$grey-form:#f2f2f2;
$grey-header:#f1f1f1;
$grey-banner:#afb2b7;
$grey-footer:#a8a8a8;
$grey-footer-header: #d1d1d1;






