@font-face {
    font-family: thirsty;
    src: url(../fonts/ThirstyScriptExtraBoldDemo.otf);
}
@font-face {
    font-family: UTM;
    src: url(../fonts/UTMViceroyJF.otf);
}
@font-face {
    font-family: opensans-bold;
    src: url(../fonts/OpenSans-Bold.otf);
}
@font-face {
    font-family: opensans-light;
    src: url(../fonts/OpenSans-Light.otf);
}
@font-face {
    font-family: lobster;
    src: url(../fonts/Lobster.otf);
}
